---
layout: default
---

<section class="hero">
  <div class="hero-inner">
    <div class="container">
      <img src="{{ site.author.thumb | prepend: site.baseurl }}" alt="author thumb" class="dot">
      <h1 class="hero">Gabriele Graffieti</h1>
      <h3>{{ site.author.bio }}</h3>
      {% for item in site.navbar %}
        <a href="{{ '/' | prepend: site.baseurl }}{{ item.slug }}" class="button button-ghost" title="{{ item.title }}">{{ item.title }}</a>
      {% endfor %}
      {% include social.html %}
    </div>
  </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/trianglify/1.1.0/trianglify.min.js"></script>
<script>
    var pattern = Trianglify({
        width: window.innerWidth,
        height: window.innerHeight,
        cell_size: 60 + Math.random() * 70,
        variance: 0.5 + Math.random() * 0.5,
        x_colors: 'PRGn',
        y_colors: 'match_x',
        stroke_width: 3
    });
    document.body.appendChild(pattern.canvas())
</script>
